<?xml version="1.0"?>

<configuration>
	<system.web>
		<globalization
			fileEncoding="utf-8"
			requestEncoding="utf-8"
			responseEncoding="utf-8"
		/>

	  <authentication mode="Forms">
	    <forms name="formauth" loginUrl="login.aspx" protection="All" path="/" timeout="30">
	      <credentials passwordFormat="Clear">
	        <user name="Jebi21" password="HyBIM#rx" />
	      </credentials>
	    </forms>
	  </authentication>
	  <authorization>
	    <deny users="?" />
	  </authorization>
	</system.web>

	<!--picturesサブディレクトリへの設定-->
	<location path="ipictures">
	  <system.web>
	    <authorization>
		  <allow roles="pictures"/>
		  <deny users="*"/>
		</authorization>
	  </system.web>
	</location>

	<system.webServer>
	  <staticContent>
	    <mimeMap fileExtension=".json" mimeType="application/json" />
	    <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
	    <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
	    <mimeMap fileExtension=".plist" mimeType="text/xml" />
	  </staticContent>
	</system.webServer>
</configuration>
